.pageNav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.active {
  background-color: green;
}

.linkName {
  text-transform: capitalize;
  text-decoration: none;
}

.navigationUl {
  list-style-type: none;
}
